<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top5</title>
</head>
<body>
    <h1>Top 5 Weeks in Coding Temple so Far</h1>
    <li>1. Week 4 - Putting the python all together!</li>
    <li>2. Week 1 - Fun with websites!</li>
    <li>3. Week 6 - Off to a great start</li>
    <li>4. Week 5 - SQL has no equal!</li>
    <li>5. Week 3 - Python starting to get a challenging now!</li>
</body>
</html>